div[thrixty=found],
div[thrixty=found] div,
div[thrixty=found] img,
div[thrixty=found] button,
div[thrixty=found] canvas{
	box-sizing: border-box;
}
div[thrixty=found] img{ width: 100% }
/***  ***/
div[thrixty=found]{
				min-width: 320px;
	/*width: 100%;*/
	/*height: 100%;*/
	background: white;
	outline: medium none;
	position: relative; /* create new coordinate system for positioning the zoom canvas */
	display: block;
}
	div[thrixty=found] .error{
		/*width: 100%;*/
		/*height: 100%;*/
		color: red;
		font-size: 20px;
		font-family: verdana, arial;
		border: 3px double red;
		padding: 15px;
		margin: 0;
	}
	div[thrixty=found] #showroom{
		/*width: 100%;*/ /* programmatically set */
		/*height: calc(100% - 50px);*/ /* set, when entering fullscreen */
		padding: 0;
		margin: 0;
		overflow: hidden;
		background: transparent;
		position: relative; /* create a new coordinate system for positioning the progress bar */
	}
		div[thrixty=found] #canvas_container{
			/*width: 100%;*/
			/*height: 100%;*/
			/*max-width: 100%;*/
			/*max-height: 100%;*/

			margin: 0px 0px 0px 0px;
			border: 0;
			padding: 0;

			position: relative; /* create a new coordinate system for positioning the canvas */
		}

			div[thrixty=found] .canvas{
				width: 100%;
				/*height: 100%;*/
				background: transparent;
			}
			div[thrixty=found] #bg_canvas{
				background-color: #eeeeee;
				/* z-index positioning under main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}

			div[thrixty=found] #main_canvas{
				cursor: crosshair;
				display: block; /* get rid of trailing whitespace from inline display */
				/* z-index positioning on top of bg, but under minimap */
				position: relative;
				left: 0;
				top: 0;
				z-index: 2;
			}
			div[thrixty=found] #minimap_canvas{
				opacity: 0.5;
				cursor: crosshair;
				/*pointer-events: none;*/
				/* z-index positioning on top of main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
			}
			div[thrixty=found] #marker{
				width: 100%;
				height: 100%;
				background: transparent;
				border: 2px solid black;
				opacity: 0.5;
				cursor: hand;
				/* z-index positioning on top of everything */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 4;
			}
		div[thrixty=found] #progress_container{
			width: 80%;
			/*height: 20px;*/
			background: #aaaaaa;
			border-radius: 5px;
			position: absolute;
			bottom: 15px;
			left: 10%;
			z-index: 5;
		}
			div[thrixty=found] .progress_bar{
				/*width: X%;     X calculated by the ThrixtyPlayer.*/
				height: 10px;
				background: #00d000;
				border-radius: 5px;
			}
				div[thrixty=found] #small_progress_bar[state=unloaded]{
					display: none;
					/*display: block;*/
				}
				div[thrixty=found] #small_progress_bar[state=loading]{
					display: block;
				}
				div[thrixty=found] #small_progress_bar[state=loaded]{
					display: none;
					/*display: block;*/
				}
	div[thrixty=found] .controls{
		width: 100%;
		padding: 5px 10% 5px 10%;
		text-align: center;
	}
		div[thrixty=found] .control_container_one{
			padding: 0;
			margin: 0 auto;
		}
			div[thrixty=found] .ctrl_buttons{
				width: 40px;
				height: 40px;
				background-color: white;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 80% 80%;
				border: 1px solid transparent;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;
			}
			div[thrixty=found] .ctrl_buttons:hover{
				/*border-color: dodgerblue;*/
			}
			div[thrixty=found] .ctrl_buttons:disabled{
				/*border-color: red;*/
				/*background-color: red;*/
			}
			div[thrixty=found] .ctrl_buttons:active{
				border-width: 3px;
			}
			div[thrixty=found] #prev_btn{
				background-position: 15% center;
				background-image: url(icons/zurueck.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSIyMTMuNSA0NDQgLTkzLjcgNjk1LjYgMjEzLjUgOTQ0LjMgIiBmaWxsPSIjM0YzRjNGIi8+DQoJPHBhdGggZD0iTTMyNC42IDk0MS40aC02MS40VjQ0NGg2MS40Vjk0MS40TDMyNC42IDk0MS40eiIgZmlsbD0iIzNGM0YzRiIvPg0KPC9zdmc+");*/
			}
				div[thrixty=found] #prev_btn:hover,
				div[thrixty=found] #prev_btn:disabled{
					background-image: url(icons/zurueck_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSIyMTMuNSA0NDQgLTkzLjcgNjk1LjYgMjEzLjUgOTQ0LjMgIiBmaWxsPSIjRkZGRkZGIi8+DQoJPHBhdGggZD0iTTMyNC42IDk0MS40aC02MS40VjQ0NGg2MS40Vjk0MS40TDMyNC42IDk0MS40eiIgZmlsbD0iI0ZGRkZGRiIvPg0KPC9zdmc+");*/
				}
				div[thrixty=found] #prev_btn:hover{background-color: black;}
				div[thrixty=found] #prev_btn:disabled{background-color: #dddddd;}
			div[thrixty=found] #play_btn[state=pause]{
				background-position: 80% center;
				background-image: url(icons/play.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjU3LjggNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSItMTYxLjQgNDQ0IDE0NS43IDY5NS42IC0xNjEuNCA5NDQuMyAiIGZpbGw9IiMzRjNGM0YiLz4NCjwvc3ZnPg==");*/
			}
				div[thrixty=found] #play_btn[state=pause]:hover,
				div[thrixty=found] #play_btn[state=pause]:disabled{
					background-image: url(icons/play_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjU3LjggNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSItMTYxLjQgNDQ0IDE0NS43IDY5NS42IC0xNjEuNCA5NDQuMyAiIGZpbGw9IiNGRkZGRkYiLz4NCjwvc3ZnPg==");*/
				}
				div[thrixty=found] #play_btn[state=pause]:hover{background-color: black;}
				div[thrixty=found] #play_btn[state=pause]:disabled{background-color: #dddddd;}
			div[thrixty=found] #play_btn[state=play]{
				background-position: 50% center;
				background-image: url(icons/pause.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItNDQ1LjIgNDQ0LjIgNTAwIDUwMCI+DQoJPHBhdGggZD0iTS0xNTMuMyA0NDQuMmg2MS43djUwMGgtNjEuN1Y0NDQuMnoiIGZpbGw9IiMzRjNGM0YiLz4NCgk8cGF0aCBkPSJNLTI3Ni45IDQ0NC4yaDYxLjd2NTAwaC02MS43VjQ0NC4yeiIgZmlsbD0iIzNGM0YzRiIvPg0KPC9zdmc+");*/
			}
				div[thrixty=found] #play_btn[state=play]:hover,
				div[thrixty=found] #play_btn[state=play]:disabled{
					background-image: url(icons/pause_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItNDQ1LjIgNDQ0LjIgNTAwIDUwMCI+DQoJPHBhdGggZD0iTS0xNTMuMyA0NDQuMmg2MS43djUwMGgtNjEuN1Y0NDQuMnoiIGZpbGw9IiNGRkZGRkYiLz4NCgk8cGF0aCBkPSJNLTI3Ni45IDQ0NC4yaDYxLjd2NTAwaC02MS43VjQ0NC4yeiIgZmlsbD0iI0ZGRkZGRiIvPg0KPC9zdmc+");*/
				}
				div[thrixty=found] #play_btn[state=play]:hover{background-color: black;}
				div[thrixty=found] #play_btn[state=play]:disabled{background-color: #dddddd;}
			div[thrixty=found] #next_btn{
				background-position: 80% center;
				background-image: url(icons/vorwaerts.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSIyMC42IDQ0NC41IDMyNC4yIDY5NS42IDIwLjYgOTQzLjggIiBmaWxsPSIjM0YzRjNGIi8+DQoJPHBhdGggZD0iTS05My4zIDQ0NC41aDYxLjN2NDk2LjRoLTYxLjNWNDQ0LjV6IiBmaWxsPSIjM0YzRjNGIi8+DQo8L3N2Zz4=");*/
			}
				div[thrixty=found] #next_btn:hover,
				div[thrixty=found] #next_btn:disabled{
					background-image: url(icons/vorwaerts_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgNDQ0LjIgNTAwIDUwMCI+DQoJPHBvbHlnb24gcG9pbnRzPSIyMC42IDQ0NC41IDMyNC4yIDY5NS42IDIwLjYgOTQzLjggIiBmaWxsPSIjRkZGRkZGIi8+DQoJPHBhdGggZD0iTS05My4zIDQ0NC41aDYxLjN2NDk2LjRoLTYxLjNWNDQ0LjV6IiBmaWxsPSIjRkZGRkZGIi8+DQo8L3N2Zz4=");*/
				}
				div[thrixty=found] #next_btn:hover{background-color: black;}
				div[thrixty=found] #next_btn:disabled{background-color: #dddddd;}
			div[thrixty=found] #zoom_btn[state=zoomed_out]{
				background-image: url(icons/plus.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjY2LjkgNDQ2IDUwMCA1MDAiPg0KCTxwYXRoIGQ9Ik0xMy4zIDQ0NS41djIyMC4zaDIxMS4ydjU3LjNIMTMuM1Y5NDYuNGgtNjAuNFY3MjMuMWgtMjExLjJ2LTU3LjNoMjExLjJWNDQ1LjVIMTMuM3oiIGZpbGw9IiMzRjNGM0YiLz4NCjwvc3ZnPg==");*/
			}
				div[thrixty=found] #zoom_btn[state=zoomed_out]:hover,
				div[thrixty=found] #zoom_btn[state=zoomed_out]:disabled{
					background-image: url(icons/plus_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjY2LjkgNDQ2IDUwMCA1MDAiPg0KCTxwYXRoIGQ9Ik0xMy4zIDQ0NS41djIyMC4zaDIxMS4ydjU3LjNIMTMuM1Y5NDYuNGgtNjAuNFY3MjMuMWgtMjExLjJ2LTU3LjNoMjExLjJWNDQ1LjVIMTMuM3oiIGZpbGw9IiNGRkZGRkYiLz4NCjwvc3ZnPg==");*/
				}
				div[thrixty=found] #zoom_btn[state=zoomed_out]:hover{background-color: black;}
				div[thrixty=found] #zoom_btn[state=zoomed_out]:disabled{background-color: #dddddd;}
			div[thrixty=found] #zoom_btn[state=zoomed_in]{
				background-image: url(icons/minus.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgMTk2LjUgNTAwIDUwMCI+DQoJPHBhdGggZD0iTTM2NS41IDQxNi44djU5LjRoLTUwMHYtNTkuNEgzNjUuNXoiIGZpbGw9IiMzRjNGM0YiLz4NCjwvc3ZnPg==");*/
			}
				div[thrixty=found] #zoom_btn[state=zoomed_in]:hover,
				div[thrixty=found] #zoom_btn[state=zoomed_in]:disabled{
					background-image: url(icons/minus_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMTM0LjUgMTk2LjUgNTAwIDUwMCI+DQoJPHBhdGggZD0iTTM2NS41IDQxNi44djU5LjRoLTUwMHYtNTkuNEgzNjUuNXoiIGZpbGw9IiNGRkZGRkYiLz4NCjwvc3ZnPg==");*/
				}
				div[thrixty=found] #zoom_btn[state=zoomed_in]:hover{background-color: black;}
				div[thrixty=found] #zoom_btn[state=zoomed_in]:disabled{background-color: #dddddd;}
			div[thrixty=found] #size_btn[state=normalsized]{
				background-image: url(icons/expand.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1OTUiIGhlaWdodD0iNTk1IiB2aWV3Qm94PSItMy41IDAgNTk1LjMgNTk1LjMiPg0KCTxwb2x5Z29uIHBvaW50cz0iNjQuNyAyMjcuNCAtMy41IDIyNy40IC0zLjUgMCAyMjMuOSAwIDIyMy45IDY4LjIgNjQuNyA2OC4yIiBmaWxsPSIjM0YzRjNGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSIyMjMuOSA1MjcuMSAyMjMuOSA1OTUuMyAtMy41IDU5NS4zIC0zLjUgMzY3LjkgNjQuNyAzNjcuOSA2NC43IDUyNy4xIiBmaWxsPSIjM0YzRjNGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSI1MjMuNiAzNjcuOSA1OTEuOCAzNjcuOSA1OTEuOCA1OTUuMyAzNjQuNCA1OTUuMyAzNjQuNCA1MjcuMSA1MjMuNiA1MjcuMSIgZmlsbD0iIzNGM0YzRiIvPg0KCTxwb2x5Z29uIHBvaW50cz0iMzY0LjQgNjguMiAzNjQuNCAwIDU5MS44IDAgNTkxLjggMjI3LjQgNTIzLjYgMjI3LjQgNTIzLjYgNjguMiIgZmlsbD0iIzNGM0YzRiIvPg0KPC9zdmc+");*/
			}
				div[thrixty=found] #size_btn[state=normalsized]:hover,
				div[thrixty=found] #size_btn[state=normalsized]:disabled{
					background-image: url(icons/expand_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1OTUiIGhlaWdodD0iNTk1IiB2aWV3Qm94PSItMy41IDAgNTk1LjMgNTk1LjMiPg0KCTxwb2x5Z29uIHBvaW50cz0iNjQuNyAyMjcuNCAtMy41IDIyNy40IC0zLjUgMCAyMjMuOSAwIDIyMy45IDY4LjIgNjQuNyA2OC4yIiBmaWxsPSIjRkZGRkZGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSIyMjMuOSA1MjcuMSAyMjMuOSA1OTUuMyAtMy41IDU5NS4zIC0zLjUgMzY3LjkgNjQuNyAzNjcuOSA2NC43IDUyNy4xIiBmaWxsPSIjRkZGRkZGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSI1MjMuNiAzNjcuOSA1OTEuOCAzNjcuOSA1OTEuOCA1OTUuMyAzNjQuNCA1OTUuMyAzNjQuNCA1MjcuMSA1MjMuNiA1MjcuMSIgZmlsbD0iI0ZGRkZGRiIvPg0KCTxwb2x5Z29uIHBvaW50cz0iMzY0LjQgNjguMiAzNjQuNCAwIDU5MS44IDAgNTkxLjggMjI3LjQgNTIzLjYgMjI3LjQgNTIzLjYgNjguMiIgZmlsbD0iI0ZGRkZGRiIvPg0KPC9zdmc+");*/
				}
				div[thrixty=found] #size_btn[state=normalsized]:hover{background-color: black;}
				div[thrixty=found] #size_btn[state=normalsized]:disabled{background-color: #dddddd;}
			div[thrixty=found] #size_btn[state=fullpaged]{
				background-image: url(icons/shrink.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1OTUiIGhlaWdodD0iNTk1IiB2aWV3Qm94PSIxMjIuNSAwIDU5NS4zIDU5NS4zIj4NCgk8cG9seWdvbiBwb2ludHM9IjI4MS43IDAgMzQ5LjkgMCAzNDkuOSAyMjcuNCAxMjIuNSAyMjcuNCAxMjIuNSAxNTkuMiAyODEuNyAxNTkuMiAiIGZpbGw9IiMzRjNGM0YiLz4NCgk8cG9seWdvbiBwb2ludHM9IjEyMi41IDQzNi4xIDEyMi41IDM2Ny45IDM0OS45IDM2Ny45IDM0OS45IDU5NS4zIDI4MS43IDU5NS4zIDI4MS43IDQzNi4xICIgZmlsbD0iIzNGM0YzRiIvPg0KCTxwb2x5Z29uIHBvaW50cz0iNTU4LjYgNTk1LjMgNDkwLjQgNTk1LjMgNDkwLjQgMzY3LjkgNzE3LjggMzY3LjkgNzE3LjggNDM2LjEgNTU4LjYgNDM2LjEgIiBmaWxsPSIjM0YzRjNGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSI3MTcuOCAxNTkuMiA3MTcuOCAyMjcuNCA0OTAuNCAyMjcuNCA0OTAuNCAwIDU1OC42IDAgNTU4LjYgMTU5LjIgIiBmaWxsPSIjM0YzRjNGIi8+DQo8L3N2Zz4=");*/
			}
				div[thrixty=found] #size_btn[state=fullpaged]:hover,
				div[thrixty=found] #size_btn[state=fullpaged]:disabled{
					background-image: url(icons/shrink_w.svg);
					/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1OTUiIGhlaWdodD0iNTk1IiB2aWV3Qm94PSIxMjIuNSAwIDU5NS4zIDU5NS4zIj4NCgk8cG9seWdvbiBwb2ludHM9IjI4MS43IDAgMzQ5LjkgMCAzNDkuOSAyMjcuNCAxMjIuNSAyMjcuNCAxMjIuNSAxNTkuMiAyODEuNyAxNTkuMiAiIGZpbGw9IiNGRkZGRkYiLz4NCgk8cG9seWdvbiBwb2ludHM9IjEyMi41IDQzNi4xIDEyMi41IDM2Ny45IDM0OS45IDM2Ny45IDM0OS45IDU5NS4zIDI4MS43IDU5NS4zIDI4MS43IDQzNi4xICIgZmlsbD0iI0ZGRkZGRiIvPg0KCTxwb2x5Z29uIHBvaW50cz0iNTU4LjYgNTk1LjMgNDkwLjQgNTk1LjMgNDkwLjQgMzY3LjkgNzE3LjggMzY3LjkgNzE3LjggNDM2LjEgNTU4LjYgNDM2LjEgIiBmaWxsPSIjRkZGRkZGIi8+DQoJPHBvbHlnb24gcG9pbnRzPSI3MTcuOCAxNTkuMiA3MTcuOCAyMjcuNCA0OTAuNCAyMjcuNCA0OTAuNCAwIDU1OC42IDAgNTU4LjYgMTU5LjIgIiBmaWxsPSIjRkZGRkZGIi8+DQo8L3N2Zz4=");*/
				}
				div[thrixty=found] #size_btn[state=fullpaged]:hover{background-color: black;}
				div[thrixty=found] #size_btn[state=fullpaged]:disabled{background-color: #dddddd;}
		div[thrixty=found] #zoom_canvas{
			position: absolute;
			top: 0;
			left: 0;
			height: 0px;
			width: 0px;
			z-index: 999999;
			cursor: crosshair;
			background: white;
		}
	div[thrixty=found] #load_overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 7;
		background: transparent;
	}
			div[thrixty=found] #load_btn{
				width: 90px;
				height: 90px;
				max-width: 160px;
				max-height: 160px;
				background-color: #ffffff;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 80% 80%;
				border: 5px solid #000000;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;

				background-position: 80% center;
				background-image: url(icons/load.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjU3LjggNDQ0LjIgNTAwIDUwMCI+PHBvbHlnb24gcG9pbnRzPSItMTYxLjQgNDQ0IDE0NS43IDY5NS42IC0xNjEuNCA5NDQuMyAiIGZpbGw9IiMzRjNGM0YiLz48L3N2Zz4=");*/

				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: 8;
			}
