div[thrixty=found],
div[thrixty=found] div,
div[thrixty=found] img,
div[thrixty=found] button,
div[thrixty=found] canvas{
	box-sizing: border-box;
}
div[thrixty=found] img{ width: 100% }
/***  ***/
div[thrixty=found]{
				min-width: 320px;
	/*width: 100%;*/
	/*height: 100%;*/
	background: white;
	outline: medium none;
	position: relative; /* create new coordinate system for positioning the zoom canvas */
	display: block;
}
	div[thrixty=found] .error{
		/*width: 100%;*/
		/*height: 100%;*/
		color: red;
		font-size: 20px;
		font-family: verdana, arial;
		border: 3px double red;
		padding: 15px;
		margin: 0;
	}
	div[thrixty=found] #showroom{
		/*width: 100%;*/ /* programmatically set */
		/*height: calc(100% - 50px);*/ /* set, when entering fullscreen */
		padding: 0;
		margin: 0;
		overflow: hidden;
		background: transparent;
		position: relative; /* create a new coordinate system for positioning the progress bar */
	}
		div[thrixty=found] #canvas_container{
			/*width: 100%;*/
			/*height: 100%;*/
			/*max-width: 100%;*/
			/*max-height: 100%;*/

			margin: 0px 0px 0px 0px;
			border: 0;
			padding: 0;

			position: relative; /* create a new coordinate system for positioning the canvas */
		}

			div[thrixty=found] .canvas{
				width: 100%;
				/*height: 100%;*/
				background: transparent;
			}
			div[thrixty=found] #bg_canvas{
				background-color: #eeeeee;
				/* z-index positioning under main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}

			div[thrixty=found] #main_canvas{
				cursor: crosshair;
				display: block; /* get rid of trailing whitespace from inline display */
				/* z-index positioning on top of bg, but under minimap */
				position: relative;
				left: 0;
				top: 0;
				z-index: 2;
			}
			div[thrixty=found] #minimap_canvas{
				opacity: 0.5;
				cursor: crosshair;
				/*pointer-events: none;*/
				/* z-index positioning on top of main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
			}
			div[thrixty=found] #marker{
				width: 100%;
				height: 100%;
				background: transparent;
				border: 2px solid black;
				opacity: 0.5;
				cursor: hand;
				/* z-index positioning on top of everything */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 4;
			}
		div[thrixty=found] #progress_container{
			width: 80%;
			/*height: 20px;*/
			background: #aaaaaa;
			border-radius: 5px;
			position: absolute;
			bottom: 15px;
			left: 10%;
			z-index: 5;
		}
			div[thrixty=found] .progress_bar{
				/*width: X%;     X calculated by the ThrixtyPlayer.*/
				height: 10px;
				background: #00d000;
				border-radius: 5px;
			}
				div[thrixty=found] #small_progress_bar[state=unloaded]{
					display: none;
					/*display: block;*/
				}
				div[thrixty=found] #small_progress_bar[state=loading]{
					display: block;
				}
				div[thrixty=found] #small_progress_bar[state=loaded]{
					display: none;
					/*display: block;*/
				}
	div[thrixty=found] .controls{
		width: 100%;
		padding: 5px 10% 5px 10%;
		text-align: center;
	}
		div[thrixty=found] .control_container_one{
			padding: 0;
			margin: 0 auto;
		}
			div[thrixty=found] .ctrl_buttons{
				width: 40px;
				height: 40px;
				border: 1px solid transparent;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;

				fill: #3f3f3f;
				background-color: #ffffff;
			}
				div[thrixty=found] .ctrl_buttons > svg{
					width: 100%;
					height: 100%;
				}
				div[thrixty=found] .ctrl_buttons:hover{
					fill: #ffffff;
					background-color: #3f3f3f;
				}
				div[thrixty=found] .ctrl_buttons:focus,
				div[thrixty=found] .ctrl_buttons:active{
					fill: #ffffff;
					background-color: #3f3f3f;
					border: 3px solid orange;
				}
				div[thrixty=found] .ctrl_buttons:disabled{
					fill: #3f3f3f;
					background-color: #cccccc;
				}
				div[thrixty=found] #prev_btn{ /**/ }
					div[thrixty=found] #prev_btn:hover,
					div[thrixty=found] #prev_btn:disabled{ /**/ }
					div[thrixty=found] #prev_btn:hover{ /**/ }
					div[thrixty=found] #prev_btn:disabled{ /**/ }
				div[thrixty=found] #play_btn[state=pause]{ /**/ }
					div[thrixty=found] #play_btn[state=pause]:hover,
					div[thrixty=found] #play_btn[state=pause]:disabled{ /**/ }
					div[thrixty=found] #play_btn[state=pause]:hover{ /**/ }
					div[thrixty=found] #play_btn[state=pause]:disabled{ /**/ }
				div[thrixty=found] #play_btn[state=play]{ /**/ }
					div[thrixty=found] #play_btn[state=play]:hover,
					div[thrixty=found] #play_btn[state=play]:disabled{ /**/ }
					div[thrixty=found] #play_btn[state=play]:hover{ /**/ }
					div[thrixty=found] #play_btn[state=play]:disabled{ /**/ }
				div[thrixty=found] #next_btn{ /**/ }
					div[thrixty=found] #next_btn:hover,
					div[thrixty=found] #next_btn:disabled{ /**/ }
					div[thrixty=found] #next_btn:hover{ /**/ }
					div[thrixty=found] #next_btn:disabled{ /**/ }
				div[thrixty=found] #zoom_btn[state=zoomed_out]{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_out]:hover,
					div[thrixty=found] #zoom_btn[state=zoomed_out]:disabled{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_out]:hover{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_out]:disabled{ /**/ }
				div[thrixty=found] #zoom_btn[state=zoomed_in]{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_in]:hover,
					div[thrixty=found] #zoom_btn[state=zoomed_in]:disabled{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_in]:hover{ /**/ }
					div[thrixty=found] #zoom_btn[state=zoomed_in]:disabled{ /**/ }
				div[thrixty=found] #size_btn[state=normalsized]{ /**/ }
					div[thrixty=found] #size_btn[state=normalsized]:hover,
					div[thrixty=found] #size_btn[state=normalsized]:disabled{ /**/ }
					div[thrixty=found] #size_btn[state=normalsized]:hover{ /**/ }
					div[thrixty=found] #size_btn[state=normalsized]:disabled{ /**/ }
				div[thrixty=found] #size_btn[state=fullpaged]{ /**/ }
					div[thrixty=found] #size_btn[state=fullpaged]:hover,
					div[thrixty=found] #size_btn[state=fullpaged]:disabled{ /**/ }
					div[thrixty=found] #size_btn[state=fullpaged]:hover{ /**/ }
					div[thrixty=found] #size_btn[state=fullpaged]:disabled{ /**/ }
		div[thrixty=found] #zoom_canvas{
			position: absolute;
			top: 0;
			left: 0;
			height: 0px;
			width: 0px;
			z-index: 999999;
			cursor: crosshair;
			background: white;
		}
	div[thrixty=found] #load_overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 7;
		background: transparent;
	}
			div[thrixty=found] #load_btn{
				width: 90px;
				height: 90px;
				max-width: 160px;
				max-height: 160px;
				background-color: #ffffff;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 80% 80%;
				border: 5px solid #000000;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;

				background-position: 80% center;
				background-image: url(icons/load.svg);
				/*background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiB2aWV3Qm94PSItMjU3LjggNDQ0LjIgNTAwIDUwMCI+PHBvbHlnb24gcG9pbnRzPSItMTYxLjQgNDQ0IDE0NS43IDY5NS42IC0xNjEuNCA5NDQuMyAiIGZpbGw9IiMzRjNGM0YiLz48L3N2Zz4=");*/

				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: 8;
			}
