/* Firefox Height 100% Fix */
/*html { height: 100%; }*/
/*body { height: 100%; margin:0; padding:0; }*/
.thrixty-player,
.thrixty-player div,
.thrixty-player img,
.thrixty-player button,
.thrixty-player canvas{
	box-sizing: border-box;
}
.thrixty_player img{ width: 100% }






.thrixty-player{
	min-width: 320px;
	width: 100%;
	/*height: 100%;*/
	background: white;
	outline: medium none;
	position: relative; /* create new coordinate system for positioning the zoom canvas */
	display: block;
}
	.thrixty-player .error{
		width: 100%;
		/*height: 100%;*/
		color: red;
		font-size: 20px;
		font-family: verdana, arial;
		border: 3px double red;
		padding: 15px;
		margin: 0;
	}
	.thrixty-player .showroom{
		width: 100%;
		/*height: calc(100% - 50px);*/ /* set, when entering fullscreen */
		padding: 0;
		margin: 0;
		overflow: hidden;
		background: transparent;
		position: relative; /* create a new coordinate system for positioning the progress bar */
	}
		.thrixty-player .canvas_container{
			width: 100%;
			/*height: 100%;*/
			/*max-width: 100%;*/
			/*max-height: 100%;*/

			margin: 0px 0px 0px 0px;
			border: 0;
			padding: 0;

			position: relative; /* create a new coordinate system for positioning the canvas */
		}

			.thrixty-player .canvas{
				width: 100%;
				/*height: 100%;*/
				background: transparent;
			}
			.thrixty-player #bg_canvas{
				background-color: #eeeeee;
				/* z-index positioning under main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}

			.thrixty-player #main_canvas{
				cursor: crosshair;
				display: block; /* get rid of trailing whitespace from inline display */
				/* z-index positioning on top of bg, but under minimap */
				position: relative;
				left: 0;
				top: 0;
				z-index: 2;
			}
			.thrixty-player #minimap_canvas{
				opacity: 0.5;
				cursor: crosshair;
				/*pointer-events: none;*/
				/* z-index positioning on top of main */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
			}
			.thrixty-player #marker{
				width: 100%;
				height: 100%;
				background: transparent;
				border: 2px solid black;
				opacity: 0.5;
				cursor: hand;
				/* z-index positioning on top of everything */
				position: absolute;
				left: 0;
				top: 0;
				z-index: 4;
			}
		.thrixty-player .progress_container{
			width: 80%;
			/*height: 20px;*/
			background: #aaaaaa;
			border-radius: 5px;
			position: absolute;
			bottom: 15px;
			left: 10%;
			z-index: 5;
		}
			.thrixty-player .progress_bar_small{
				/*width: X%;     X calculated by the ThrixtyPlayer.*/
				height: 10px;
				background: #00d000;
				border-radius: 5px;
			}
				.thrixty-player .progress_bar_small[state=unloaded]{
					display: none;
					/*display: block;*/
				}
				.thrixty-player .progress_bar_small[state=loading]{
					display: block;
				}
				.thrixty-player .progress_bar_small[state=loaded]{
					display: none;
					/*display: block;*/
				}
			.thrixty-player .progress_bar_large{
				/*width: X%;     X calculated by the ThrixtyPlayer.*/
				height: 10px;
				background: #0000d0;
				border-radius: 5px;
			}
				.thrixty-player .progress_bar_large[state=unloaded]{
					display: none;
					/*display: block;*/
				}
				.thrixty-player .progress_bar_large[state=loading]{
					display: none;
					/*display: block;*/
				}
				.thrixty-player .progress_bar_large[state=loaded]{
					display: none;
					/*display: block;*/
				}
	.thrixty-player .controls{
		width: 100%;
		height: 50px;
		padding: 5px 10% 5px 10%;
		text-align: center;
	}
		.thrixty-player .control_container{
			height: 40px;
			padding: 0;
			margin: 0 auto;
		}
		.thrixty-player .control_container_left{
			height: 40px;
			float: left;
			padding: 0;
			margin: 0;
		}
		.thrixty-player .control_container_right{
			height: 40px;
			float: right;
			padding: 0;
			margin: 0;
		}
			.thrixty-player .ctrl_buttons{
				width: 40px;
				height: 40px;
				background-color: white;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 80% 80%;
				border: 1px solid transparent;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;
			}
			.thrixty-player .ctrl_buttons:hover{
				/*border-color: dodgerblue;*/
			}
			.thrixty-player .ctrl_buttons:disabled{
				/*border-color: red;*/
				/*background-color: red;*/
			}
			.thrixty-player .ctrl_buttons:active{
				border-width: 3px;
			}
			.thrixty-player #prev_btn{
				background-position: 15% center;
				background-image: url(images/zurueck.svg);
			}
				.thrixty-player #prev_btn:hover{
					background-image: url(images/zurueck_w.svg);
					background-color: black;
				}
				.thrixty-player #prev_btn:disabled{
					background-image: url(images/zurueck_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #play_btn[state=pause]{
				background-position: 80% center;
				background-image: url(images/play.svg);
			}
				.thrixty-player #play_btn[state=pause]:hover{
					background-image: url(images/play_w.svg);
					background-color: black;
				}
				.thrixty-player #play_btn[state=pause]:disabled{
					background-image: url(images/play_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #play_btn[state=play]{
				background-position: 50% center;
				background-image: url(images/pause.svg);
			}
				.thrixty-player #play_btn[state=play]:hover{
					background-image: url(images/pause_w.svg);
					background-color: black;
				}
				.thrixty-player #play_btn[state=play]:disabled{
					background-image: url(images/pause_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #next_btn{
				background-position: 80% center;
				background-image: url(images/vorwaertz.svg);
			}
				.thrixty-player #next_btn:hover{
					background-image: url(images/vorwaertz_w.svg);
					background-color: black;
				}
				.thrixty-player #next_btn:disabled{
					background-image: url(images/vorwaertz_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #zoom_btn[state=zoomin]{
				background-image: url(images/plus.svg);
			}
				.thrixty-player #zoom_btn[state=zoomin]:hover{
					background-image: url(images/plus_w.svg);
					background-color: black;
				}
				.thrixty-player #zoom_btn[state=zoomin]:disabled{
					background-image: url(images/plus_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #zoom_btn[state=zoomout]{
				background-image: url(images/minus.svg);
			}
				.thrixty-player #zoom_btn[state=zoomout]:hover{
					background-image: url(images/minus_w.svg);
					background-color: black;
				}
				.thrixty-player #zoom_btn[state=zoomout]:disabled{
					background-image: url(images/minus_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #size_btn[state=fullpage]{
				background-image: url(images/expand.svg);
			}
				.thrixty-player #size_btn[state=fullpage]:hover{
					background-image: url(images/expand_w.svg);
					background-color: black;
				}
				.thrixty-player #size_btn[state=fullpage]:disabled{
					background-image: url(images/expand_w.svg);
					background-color: #dddddd;
				}
			.thrixty-player #size_btn[state=normalsize]{
				background-image: url(images/shrink.svg);
			}
				.thrixty-player #size_btn[state=normalsize]:hover{
					background-image: url(images/shrink_w.svg);
					background-color: black;
				}
				.thrixty-player #size_btn[state=normalsize]:disabled{
					background-image: url(images/shrink_w.svg);
					background-color: #dddddd;
				}
		.thrixty-player #zoom_canvas{
			position: absolute;
			top: 0;
			left: 0;
			height: 0px;
			width: 0px;
			z-index: 999999;
			cursor: crosshair;
				background: white;
		}
	.thrixty-player #load_overlay{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 7;
		background: transparent;
	}
			.thrixty-player #load_btn{
				width: 90px;
				height: 90px;
				max-width: 160px;
				max-height: 160px;
				background-color: #ffffff;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 80% 80%;
				border: 5px solid #000000;
				border-radius: 50%;
				margin: 0px 5px;
				padding: 0;

				background-position: 80% center;
				background-image: url(images/play.svg);


				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				z-index: 8;
			}
